.SidebarArea {
  &__BurgerArea {
    display: flex;
    height: auto;
    position: relative;
    align-items: center;
    color: blue;
    padding-top: 10px;
    overflow: visible;

    &__BurgerText {
      margin-left: 10px;
      font-size: 20px;
      color: white;
      kerning: 5cap;
      letter-spacing: 1px;
      word-spacing: 1px;
    }
  }

  @keyframes iconShake {
    0% { transform: rotateZ(0deg); }
    25% { transform: rotateZ(-15deg); }
    50% { transform: rotateZ(15deg); }
    75% { transform: rotateZ(-15deg); }
    100% { transform: rotateZ(0deg); }
  }

  @keyframes loading {
    0% {
      transform: scale(1) translateY(-8px);
    }
    30% {
      transform: scale(0.4) translateY(0px);  // overshoot to simulate inertia 0
    }
    50% {
      transform: scale(0.4) translateY(-7px);  // bounce back a bit due to inertia -7
    }
    70% {
      transform: scale(0.4) translateY(-3px);  // a small secondary bounce -3
    }
    100% {
      transform: scale(1) translateY(-8px);  // smoothly return to original position 15
    }
  }

  $DropdownMarginRight: 10px;

  &__Menu {
    &__SelectableMenuItem {
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: center;
      width: 100%;
      height: auto;
      padding-top: 5px;
      padding-bottom: 5px;
      cursor: pointer;
      background-size: 1000% 100%;
      background-position: 100% 0;
      transition: background-position 0.3s ease;
      background-image: linear-gradient(to right, #207aa1 0%, #1c85aa) !important;
      &:hover {
        background-position: 0% 0;
      }
      &__Layout {
        display: grid;
        width: inherit;
        color: white;
        align-items: center;
        height: inherit;
      }
      &__Icon {
        display: flex;
        justify-content: center;
        &:hover {
          animation: iconShake 0.3s cubic-bezier(.36,.07,.19,.97) both;
        }
      }
      &__TextContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: inherit;
        &__Text {
          pointer-events: none;
        }
      }
      &__Dropdown {
        transform-origin: center 55%;
        color: white;
        margin-right: $DropdownMarginRight;
        height: inherit;
        display: flex;
        cursor: pointer !important;
        pointer-events: all;
      }
    }

    &__MobileList {
      color: rgb(234, 232, 232);
      padding-left: 2px;
      position: relative;
      display: flex;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 5px;
      justify-content: space-around;
    }
    &__List {
      padding-left: 35px !important;
      padding-top: 10px;
      margin-left: 0px;
      color: rgb(234, 232, 232);
      &__ListItem {
        display: flex;
        color: rgb(234, 232, 232);
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        align-items: center;
        &:first-child {
          margin-top: 0px;
        }
        &:last-child {
          margin-bottom: 0px;
        }

        &__Number {
          color: rgb(181, 177, 177);
        }
  
        &__NumberTerminator {
          color: rgb(181, 177, 177);
        }
  
        &__Text {
          transition: all 0.2s ease-in;
          cursor: pointer;
          &:hover {
            margin-left: 6px;
          }
        }

        &__LoadingGrid {
          display: grid;
          grid-template-columns: 33.3% 33.3% 33.3%;
          &__Cell {
            width: 10px;
            height: 10px;
            background-color: #89cff2;
            box-sizing: border-box;
            margin-top: 5px;
            margin-left: 2px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}