.SidebarArea {
  &__BurgerArea {
    display: flex;
    height: auto;
    align-items: center;
    color: blue;
    padding-top: 10px;

    &__BurgerText {
      margin-left: 10px;
      font-family: 'Roboto';
    }
  }

  @keyframes iconShake {
    0% { transform: rotateZ(0deg); }
    25% { transform: rotateZ(-15deg); }
    50% { transform: rotateZ(15deg); }
    75% { transform: rotateZ(-15deg); }
    100% { transform: rotateZ(0deg); }
  }

  &__Menu {
    &__SelectableMenuItem {
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: center;
      width: 100%;
      height: auto;
      padding-top: 5px;
      padding-bottom: 5px;
      cursor: pointer;
      background-size: 500% 100%;
      background-position: 100% 0;
      transition: background-position 0.3s ease;
      background-image: linear-gradient(to right, #207aa1 0%, #1c85aa) !important;
      &:hover {
        background-position: 0% 0;
      }
      &__Layout {
        display: grid;
        width: inherit;
        color: white;
        align-items: center;
        height: inherit;
      }
      &__Icon {
        display: flex;
        justify-content: center;
        &:hover {
          animation: iconShake 0.3s cubic-bezier(.36,.07,.19,.97) both;
        }
      }
      &__TextContainer {
        display: flex;
        align-items: center;
        height: inherit;
        &__Text {
          pointer-events: none;
        }
      }
      &__Dropdown {
        transform-origin: center 55%;
        color: white;
        margin-right: 10px;
        height: inherit;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer !important;
        pointer-events: all;
      }
    }
    &__List {
      padding-left: 35px !important;
      padding-top: 10px;
      margin-left: 100px;
      color: rgb(234, 232, 232);
      &__ListItem {
        color: rgb(234, 232, 232);
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        &:first-child {
          margin-top: 0px;
        }
        &:last-child {
          margin-bottom: 0px;
        }

        &__Number {
          color: rgb(181, 177, 177);
        }

        &__NumberTerminator {
          color: rgb(181, 177, 177);
        }

        &__Text {
          transition: all 0.2s ease-in;
          cursor: pointer;
          &.hover_enabled {
            &:hover {
              margin-left: 6px;
            }
          }
        }
      }
    }
  }
}