.canvasContainer {
  text-align: center;
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.canvasContainer>canvas {
  width: 100%;
  aspect-ratio: 1;
  max-width: 640px;
  max-height: 480px;
  pointer-events: all;
  overflow-x: scroll;
}

nav.sourceFileNav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

nav.sourceFileNav li {
  display: inline-block;
  margin: 0;
  padding: 0;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav.sourceFileNav li:hover {
  height: 100%;
  box-shadow: 0 -10px 0 0 rgb(167, 167, 167);
  background-color: red;
  border-radius: 10px
}

nav.sourceFileNav li .dragging {
  background-color: red;
}

nav.sourceFileNav li a {
  display: block;
  margin: 0;
  padding: 10px;
  color: white;
  background-color: #403e3e;
}

nav.sourceFileNav li a[data-active=true] {
  background-color: #282823;
}

.sourceFileContainer {
  overflow: hidden;
  height: 0;
}

.sourceFileContainer[data-active=true] {
  height: auto;
}

.sourceFileContainer :global(.CodeMirror) {
  margin-top: 0;
}

@mixin debugBlockNormals() {
  flex-direction: row;
  background-color: rgb(39,40,34);
  width: auto;
  height: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  grid-row: 1 / span 1;
  align-self: start;
}

@mixin debugButtonNormals() {
  &:hover {
    color: green;
  }
  min-width: 60px;
  max-width: 80px;
  height: 100%;
  background-color: burlywood;
  z-index: 9;
  transition: box-shadow 0.3s ease-out;
}

@mixin debugButtonHoverAreaNormals() {
  display: flex;
  grid-row: 1 / span 2;
  justify-content: flex-start;
  align-items: center;
}

.Coord_Column {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 8;

  &__Upper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__Lower {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}


.debugArea {
  //display: flex;
  //flex-direction: column;
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: auto auto;
  background-color: rgb(39,40,34);
  &__DebugBlock {
    grid-row: 1 / span 2;
    &__Explanation {
      @include debugBlockNormals();
      margin-top: 5px;
      font-size: 20px;
    }
  
    &__Close {
      @include debugBlockNormals();
      font-size: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      cursor: pointer;
    }
  }

  &__Button {
    &__HoverAreaLeft {
      @include debugButtonHoverAreaNormals();
      flex-direction: row;
    }

    &__HoverAreaRight {
      @include debugButtonHoverAreaNormals();
      flex-direction: row-reverse;
    }
    &__Left {
      @include debugButtonNormals();
      border-top-left-radius: 25%;
      margin-left: 10px;
    }
    &__Right {
      @include debugButtonNormals();
      border-top-right-radius: 25%;
      margin-right: 10px;
    }
  }
}

.debug_output {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: 'darkblue';
  font-size: 15px;
  height: auto;

  &__close_debug_area {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
